<!--miniprogram/pages/musicDetail/index.wxml-->
<view 
  class='cover-container'
  style='background: url({{musicListInfo.coverImgUrl}}) no-repeat  top/cover'>
</view>
<view class='cover-mask'></view>
<view class='detail-info'>
  <image src="{{musicListInfo.coverImgUrl}}" class='avatar'></image>
  <view class='desc-box'>
    <view class='desc'>{{musicListInfo.name}}</view>
  </view>
</view>
<music-list-item musicList="{{musicList}}" />