.ctrl {
  display: flex;
  align-items: center;
  background: #fff;
  height: 100%;
}

.ctrl-item {
  flex: 1;
  text-align: center;
  color: rgba(40, 47, 60, 0.8);
  font-size: 26rpx;
  height: 60rpx;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ctrl-item .icon {
  margin-right: 12rpx;
  font-size: 32rpx;
}
.ctrl-item .icon.comment {
  font-size: 40rpx;
}
.ctrl-item text {
  font-size: 32rpx;
}

.comment-content {
  width: 560rpx;
  text-align: left;
  padding: 20rpx;
  font-size: 32rpx;
}

.send {
  background: #d43c33;
  color: #fff;
  font-size: 24rpx;
  position: absolute;
  right: 20rpx;
  bottom: 20rpx;
}

.share-btn {
  background-color: #fff;
  color: rgba(40, 47, 60, 0.8);
  padding: 0;
  height: 100%;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.share-btn::after {
  display: none;
}

.share-hover::after {
  border: 0;
}
